[submodule "JSON-js"]
	path = JSON-js
	url = git://github.com/douglascrockford/JSON-js.git
[submodule "KLogger"]
	path = KLogger
	url = https://stephens2424@github.com/stephens2424/KLogger.git
[submodule "corner"]
	path = corner
	url = https://github.com/malsup/corner.git
