[submodule "JSON-js"]
	path = scripts/JSON-js
	url = git://github.com/douglascrockford/JSON-js.git
[submodule "KLogger"]
	path = server/KLogger
	url = https://stephens2424@github.com/stephens2424/KLogger.git
[submodule "corner"]
	path = scripts/corner
	url = https://github.com/malsup/corner.git
[submodule "jquery-animate-css-rotate-scale"]
	path = scripts/jquery-animate-css-rotate-scale
	url = https://github.com/zachstronaut/jquery-animate-css-rotate-scale.git
[submodule "Lightbox_me"]
	path = scripts/Lightbox_me
	url = git@github.com:stephens2424/Lightbox_me.git
[submodule "jsundoable"]
	path = scripts/jsundoable
	url = https://github.com/jscott1989/jsundoable.git
[submodule "selectWithOther.jeditable"]
	path = scripts/selectWithOther.jeditable
	url = git@github.com:stephens2424/selectWithOther.jeditable.git
[submodule "DataTables"]
	path = scripts/DataTables
	url = https://github.com/DataTables/DataTables.git
