/* 
    Document   : ClientIATManager
    Created on : May 12, 2011, 9:31:26 AM
    Author     : Stephen
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}
* {
  font-family: helvetica;
}
input {
  height: 20px;
  font-size: medium;
}
div.authenticationBox {
  height: 400px;
  width: 500px;
  background-color:paleturquoise;
  border-radius:10px;
  -moz-border-radius:10px;
}
div.innerAuthentication {
  margin:50px;
  line-height: 80px;
  font-size:x-large;
}
.innerAuthenticationInput {
  height: 40px;
  width: 230px;
  font-size:x-large;
}
.innerAuthenticationSubmit {
  height: auto;
  width: 100px;
  font-size: medium;
}
.authenticationError {
  font-size: medium;
  color: red;
  line-height: 20px;
}

.actionLink {
  color:blue;
  text-decoration: underline;
  cursor: pointer;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.floatLeft {
  float: left;
  text-align: left;
  margin-right: 10px;
  padding-left:10px;
}
.floatRight {
  float: right;
  text-align: right;
  margin-left: 10px;
  padding-right: 10px;
}
.clear {
  clear:both;
}
.disclosure {
  cursor: pointer;
}
.changed {
  background-color: lightcoral;
}

.experimentNumber {
  margin-left: 15px;
}

.experimentName {
  margin-left: 30px;
}

.experimentListItem {
  width:auto;
  padding: 5px;
  margin-bottom:5px;
  margin-right: 5px;
  background-color: lightblue;
  border-radius:10px;
  -moz-border-radius:10px;
  height: 30px;
  font-size: medium;
  cursor: pointer;
}

.contentDiv {
  position: absolute;
  left: 5px;
  right: 5px;
}

.experimentManagerOptionsHeader {
  background-color: lightsalmon;
  border-radius:10px;
  -moz-border-radius:10px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 5px;
}

.experimentManagerTitle {
  font-weight: bold;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}

.experimentReturnLink {
  position: absolute;
}
.CategoryListContainer {
  width: 200px;
  float: left;
}
.CategoryList {
  width: 200px;
}
.CategoryListItem {
  width: 200px;
}
.ExperimentManager {
  width: 95%;
}
.ExperimentManagerHeader {
  height: 50px;
}

