/* 
    Document   : ClientIATManager
    Created on : May 12, 2011, 9:31:26 AM
    Author     : Stephen
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}
div.authenticationBox {
  height: 400px;
  width: 500px;
  background-color:paleturquoise;
  border-radius:10px;
  -moz-border-radius:10px;
}
div.innerAuthentication {
  margin:50px;
  line-height: 80px;
  font-size:x-large;
  font-family: helvetica;
}
.innerAuthenticationInput {
  height: 40px;
  width: 230px;
  font-size:x-large;
}
.innerAuthenticationSubmit {
  height: auto;
  width: 100px;
  font-size: medium;
}
.authenticationError {
  font-size: medium;
  color: red;
  line-height: 20px;
}
div.stimuliGroup {
  width:99%;
  min-width:700px;
  background-color: #e8e8e8;
  border-radius:10px;
  -moz-border-radius:10px;
  padding-top:5px;
  padding-bottom:10px;
  padding-left:10px;
  margin-bottom:10px;
}
.groupHeader {
  position: relative;
  font-size: large;
}
.stimuliHeader {
  left: 10%;
  font-weight: bold;
}
.greenwaldHeader {
  left: 20%;
}
.groupActionHeader {
  left: 30%
}
.randomization {
  left: 40%;
}
.stimuliDiv {
  position:relative;
  left:30px;
  width:95%;
  padding-right:10px;
}
.stimuliGroupFooter {
  padding-top: 5px;
  font-size: large;
}
.copyGroup {
  position:relative;
  left: 90%;
}
.deleteGroup {
  position:relative;
  left: 75%;
}
.actionLink {
  color:blue;
  text-decoration: underline;
  cursor: pointer;
}
.groupUpArrow {
  float: right;
  position:relative;
  right: 5px;
  color: #999999;
  cursor: pointer;
}
.groupDownArrow {
  float: right;
  position: relative;
  right: 5px;
  color: #999999;
  cursor: pointer;
}
.stimulus {
  width:auto;
  padding: 5px;
  margin-bottom:5px;
  background-color: lightblue;
  border-radius:10px;
  -moz-border-radius:10px;
}
.stimulusData {
  width:68%;
}
.stimulusOptions {
  width:20%;
}
.stimulusDatum {
}
.stimulusWord {
  margin-left:auto;
  margin-right:auto;
  width:87%;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.floatLeft {
  float: left;
  text-align: left;
  margin-right: 10px;
  padding-left:10px;
}
.floatRight {
  float: right;
  text-align: right;
  margin-left: 10px;
  padding-right: 10px;
}
.clear {
  clear:both;
}
.disclosure {
  cursor: pointer;
}
.stimuliPlaceholder {
  height: 1.5em;
  line-height: 1.2em;
}
.changed {
  background-color: lightcoral;
}

.experimentNumber {
  margin-left: 15px;
}

.experimentName {
  margin-left: 30px;
}

.experimentListItem {
  width:auto;
  padding: 5px;
  margin-bottom:5px;
  background-color: lightblue;
  border-radius:10px;
  -moz-border-radius:10px;
  height: 30px;
  font-family: helvetica;
  font-size: medium;
}
